.Rproj.user
.Rhistory
.RData
Sanbox.R
all matches.xlsx
old data files
old match functions
CaseMatches.csv
DC.Case.Matches.csv
DirectCertCases.csv
DirectCertMatches.csv
DirectCertMatches.xlsx
cacert.pem.crt
matched records.xlsx
smsExport.csv
newTestRun.xlsx
rsconnect
readme.html
newmatches1.csv
newmatches1.xlsx
newmatches2.csv
all the zip codes we need.xlsx
allmatches.csv
bulkupload.txt
studentsToCheck (2017-10-05).xlsx
studentsToCheck.txt
unmatchedStudents.csv
